<library path="lib/libhector_rqt_plugins">
  <class name="rqt_image_enhancer/ImageEnhancer" type="rqt_image_enhancer::ImageEnhancer" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to enhance a sensor_msgs/Image topic.
    </description>
    <qtgui>
      <label>Image Enhancer</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin to enhance a sensor_msgs/Image topic.</statustip>
    </qtgui>
  </class>
</library>
